:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    font: 400 18px "Bai Jamjuree", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    background: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-logo {
    margin-top: 5rem;
}
